.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-between;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
   
  }
  
  .controls input {
    width: 300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .controls select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .controls {
      flex-direction: column;
      gap: 15px;
    }
  
    .controls input, 
    .controls select {
      width: 100%;
    }
  }
  
.Toastify__close-button{
    display: none;
}